
body{font-family: Georgia, serif;}
.s2k-article-footer { font-size: 0.8em; }
.s2k-title { font-size: 1.5em; line-height: 1.2em;}
.s2k-byline { font-size: 0.8em; font-style: italic; margin-bottom: 1.2em; }
.toolbar {font-size: 0.8em; font-style: italic; }
.s2k-author .fn { font-weight: bold }
.s2k-default-image { border: #000 solid 1px; line-height: 1em; margin: 0px auto; padding: 0.25em; text-align: center; font-size: 50%; }      
.s2k-text-header { margin: 1em }
.s2k-table table { width: 100%; }
.s2k-table table, .s2k-table tbody, .s2k-table tr, .s2k-table td, .s2k-table th { margin: 20px 0px; border: none; border-collapse: collapse; border-spacing: 2px; font-size: inherit; }
.s2k-table td, .s2k-table th { border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #111; }
tr.s2k-darkrow { background-color: #e8e7e3; }
p { margin-bottom: 1em; }
h2{ font-size: 1.1em; }
.s2k-article-body p{ text-indent:2em;line-height:1.5em}
.s2k-article-body div{margin-bottom: 1em; text-indent:2em;}
span.MASSf21674ffeef7{display:none}
span.MASSb0759798486b,span.MASS9aa564912c8e{display:none}
span.MASS24fa6d95ae52,span.hiddenCopyright{display:none}
img{max-width:100%;max-height:100%;}
