{% extends "base.html" %}

{% block menubar %}
{% endblock %}

{% block content %}
<div class="jumbotron">
{% if tips %}
  <p style="font-size:0.9em;">{{tips}}</p>
{% endif %}
<p>5秒钟后自动返回上一页... <a href="javascript:history.go(-1);">点击直接返回</a></p><br />
</div>


{% endblock %}


{% block js %}
<script type="text/javascript">
function gobackafter(secs){
	 if(--secs > 0){
		     setTimeout("gobackafter(" + secs + ");", 1000);
		      }
	  else{
		      history.go(-1);
		       }
}
gobackafter(5);
</script>
{% endblock %}
