<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="RedKindle is a service for Amazon Kindle owners that lets you aggregate feeds you chosen and have them delivered to your Kindle in a convenient, easy-to-navigate format.">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/RK.png">

    <title>{{title}} - RedKindle</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/jumbotron-narrow.css" rel="stylesheet">
	<!-- Custom styles for this template -->
    <link href="/static/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="/static/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	{% block js %}{% endblock %}
  </head>
{% block bodytag %}
  <body>
{% endblock %}
    <div class="container">
      <div class="header">
	{% block header %}
        <ul class="nav nav-pills pull-right">
	{% if nickname %}
	  <li><a href="/my">首页</a></li>
	  <li><a href="/admin"><strong>用户：{{nickname}}</strong></a></li>
	  <li><a href="/setting">设置</a></li>
	  <li><a href="/help">帮助</a></li>
	  <li><a href="/logout">退出</a></li>
	{% else %}
	  <li><a href="/">首页</a></li>
          <li><a href="/login">登录</a></li>
          <li><a href="/help">帮助</a></li>
	{% endif %}
        </ul>
        <h3 class="text-muted">RedKindle</h3>
	{% endblock %}
      </div>

	{% block menubar %}
		{% if nickname %}
		<ul class="nav nav-tabs">
		<li {% if current == "my" %}class="active"{% endif %}><a href="/my">杂志</a></li>
		<li {% if current == "mysub" %}class="active"{% endif %}><a href="/mysub">我的订阅</a></li>
		</ul>
		{% endif %}
	{% endblock %}


	{% block content %}
	{% endblock %}

      <div class="footer">
	{% block footer %}
        <p>&copy; Company 2014 | 
	{% if nickname %}
	<a target="_blank" href="https://me.alipay.com/zhangzhenhong">捐助</a> | 
	{% endif %}
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000291091'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1000291091%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></p>
	{% endblock %}
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
