{% extends "base.html" %}

 
{% block menubar %}
{% endblock %}
 
{% block content %}

<div class="jumbotron">

      <form class="form-signin" role="form" action="/forget_passwd" method="POST">
        <h2 class="form-signin-heading">忘记密码</h2>
{% if tips %}<p style="color:red;font-size:0.8em;" class="error">{{tips}}</p>{% endif %}
        <input type="text" class="form-control" name="u" id="username" placeholder="Email address" required autofocus>
        <input type="text" name="k" id="kindle_email" class="form-control" placeholder="kindle推送地址" required>
 	<br/>       
        <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
      </form>
</div>

{% endblock %}
