{% extends "base.html" %}

{% block menubar %}
{% endblock %}

{% block content %}
      <div class="starter-template">
		<h2>亚马逊中国设置方法：</h2>
        <p style="padding-left:30px;">
1、去你的亚马逊中国 <a href="https://www.amazon.cn/gp/digital/fiona/manage/#pdocSettings">Kindle 设置页面</a>
<br>
2、在左侧导航栏中选择 个人文档设置<br>
<img src="/static/1.PNG"  alt="个人文档设置" /><br>
3、将RedKindle邮件地址：<strong style="color:red">redkindle@zhred.net</strong>加入你的已认可的发件人电子邮箱列表<br>
<img src="/static/2.PNG"  alt="认可列表" /><br>
4、将你的kindle邮件地址，填到RedKindle的基本设置当中<br>
<img src="/static/3.PNG"  alt="邮件地址" /><br>
<img src="/static/4.PNG"  alt="基本设置" /><br>
</p>

		<h2>美国亚马逊设置方法：</h2>
		<p style="padding-left:30px;">
1、去你的美国亚马逊 <a href="https://www.amazon.com/mn/dcw/myx.html#/home/settings/payment" target="_blank">Kindle 设置页面</a>
<br>
2、点击页面上的「Personal Document Settings」<br>
3、点击 「Add a new approved e-mail address」将RedKindle邮件地址：<strong style="color:red">redkindle@zhred.net</strong>加入你的「Approved Personal Document E-mail List」<br>
</p>

		<h2>投递后缀</h2>
		<p style="padding-left:20px;">
<strong>@kindle.com：</strong>投递将通过Wifi或3G网络发送到你的 Kindle 中。使用3G网络接收，亚马逊会收取一笔额外的费用；<br>
<del><strong>@free.kindle.com：</strong>只有在连接了Wifi网络时，投递才会被发送到 Kindle；</del> 不再建议使用<br>
<strong>@iduokan.com：</strong>使用多看系统请选择这个后缀，此地址可以在多看系统设置里找到，更多信息请访问，最大支持20M <a target="_blank" href="http://bbs.duokan.com/forum/forum-47-1.html">多看论坛</a>；<br>
<strong>@kindle.cn：</strong>亚马逊中国账号，请到 亚马逊中国 &gt;&gt; 我的账户 &gt;&gt; 管理我的Kindle &gt;&gt; <a href="https://www.amazon.cn/gp/digital/fiona/manage/#pdocSettings" target="_blank">个人文档设置</a> 页面将RedKindle邮件地址添加到 <strong>已认可的发件人电子邮箱列表</strong>；<br>
<strong>其它邮箱：</strong> 你也可以投递到你自己的邮箱（如gmail、qq、hotmail、sendtodropbox等）然后再去邮箱内下载，注意：投递到这些邮箱可能会进入垃圾箱，在第一次收到邮件后请将其移出垃圾箱并标记为非垃圾邮件同时将发件人加入联系人中。
</p>
      </div>

{% endblock %}
