{% extends "base.html" %}

{% block bodytag %}
<body onload="document.getElementById('username').focus();">
{% endblock %}

{% block menubar %}
{% endblock %}

{% block content %}
    {% if tips %}
    <p style="color:red;font-size:0.8em;">{{tips}}</p>
    {% endif %}
    <form action="/login" method="POST">
    <table id="login" align='center'>
        <tr>
            <td>电子邮箱: </td>
            {% if username %}
            <td><input type="text" name="u" id="username" value={{username}} /></td>
            {% else %}
            <td><input type="text" name="u" id="username" /></td>
            {% endif %}
        </tr>
        <tr>
            <td>密码: </td>
            <td><input type="password" name="p" id="password" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="登录" onclick="javascript:return check();window.close();" target="_parent" /></td>
        </tr>
    </table>
    </form>
    <a href='/forget_passwd' style="align:center;">忘记密码</a>
    <pre><p> </p></pre>
{% endblock %}
