{% extends "base.html" %}

{% block bodytag %}
<body onload="document.getElementById('username').focus();">
{% endblock %}

{% block content %}
<div class="jumbotron">

      <form class="form-signin" role="form" action="/login" method="POST">
        <h2 class="form-signin-heading">用户登录</h2>
	{% if tips %}<p style="color:red;font-weight:bold;" class="error">{{tips}}</p>{% endif %}
        <input type="text" class="form-control" name="u" id="username" placeholder="Email address" required autofocus>
        <input type="password" class="form-control" name="p" id="password" placeholder="Password" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="javascript:return check();window.close();" target="_parent">登录</button>
      </form>
	  <a class="forget" href='/forget_passwd' style="align:center;text-align:center;">忘记密码</a><br/>
      <br/>
	  <label>
	  一键登录：
	  </label>
	  <a href="/db_login/" target="_blank"><img src="/static/login_with_douban_18.png" ></a>
	<a href="/qq_login/" target="_blank"><img src="/static/Connect_logo_2.png" ></a>
</div>

{% endblock %}
