{% extends "base.html" %}

{% block menubar %}
{% endblock %}

{% block content %}
<div style="font-size: 14px; margin-top: 8px;">
全文RSS订阅推送服务，支持Kindle、多看和Nook等移动电子阅读设备
</div>
	{% if tips %}
     	<p style="color:red;font-weight:bold;">{{tips}}</p>
	{% endif %}
<h2 style="margin-bottom: 0;text-align:center;">新用户注册</h2>

<form action="" method="POST">
     <table id="mgrpwd" align='center'>
         <tr>
             <td>电子邮箱: </td>
             <td><input type="text" name="u" id="username"></td>
         </tr>
         <tr>
             <td>密码: </td>
             <td><input type="password" name="p" id="password"></td>
         </tr>
         <tr>
             <td></td>
             <td><input type="submit" value="提交注册"></td>
         </tr>
     </table>
</form>
<p>
<a href="/db_login/" target="_blank"><img src="/static/login_with_douban_18.png" ></a>
<a href="/qq_login/" target="_blank"><img src="/static/Connect_logo_2.png" ></a>
</p>
<p style="text-align:center">
请不要使用多看和Kindle地址注册，忘记密码将无法找回！
</p>
{% endblock %}
