{% extends "base.html" %}

{% block content %}
<div class="jumbotron">

      <form class="form-signin" role="form" action="" method="POST">
        <h2 class="form-signin-heading">新用户注册</h2>
		{% if tips %}
		<p style="color:red;font-size:0.8em;" class="error">{{tips}}</p>
		{% endif %}
        <input type="text" class="form-control" name="u" placeholder="Email address" required autofocus>
        <input type="password" class="form-control" name="p" placeholder="Password" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
      </form>
	  <label>
	  一键登录：
	  </label>
	  <a href="/db_login/" target="_blank"><img src="/static/login_with_douban_18.png" ></a>
	<a href="/qq_login/" target="_blank"><img src="/static/Connect_logo_2.png" ></a>

</div>

{% endblock %}
