<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
<head>
<title>Table of Contents</title>
<link rel="stylesheet" type="text/css" href="style.css" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
</head>
    <body>
        <h1><b>目录</b></h1>
	<br />
	<div class="toc-list">
	{% for feed in feeds %}
		<h3><b>{{feed.title}}</b></h3>
		<ul>
			{% for entry in feed.entries %}
			<li><a href="{{feed.number}}.html#id_{{feed.number}}.{{entry.number}}">{{entry.title}}</a></li>
			{% endfor %}
		</ul>
	{% endfor %}
	</div>
    </body>
</html>
